.article {
    width: 941px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    height: 140px;
}

.article-full-size {
    box-shadow: none;
    height: 130px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 14px 12px 19px;
}

.header-left {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
}

.header-right {
    display: flex;
    gap: 12px;
    align-items: center;
    /*flex-wrap: wrap;*/
    /*width: 20%;*/
}

.title {
    font-size: 20px;
    color: #1890FF;
    font-weight: 400;
    letter-spacing: 0.5px;
    float: left;
    margin: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
}

.title:hover {
    text-decoration: underline;
}

.likes {
    margin-left: 6px;
    position: relative;
    font-size: 12px;
    margin-top: 4px;
}

.heart {
    color: red;
}

.tagList {
    margin: 8px 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.author {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.date {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;
}

.description {
    width: 66%;
    margin-left: 19px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    line-height: 22px;
    font-family: 'Inter', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description-full-size {
    opacity: 0.5;
    display: inline-block;
}

.btn-block {
    display: inline-flex;
    gap: 12px;
    margin-left: 100px;
}

.btn-edit {
    color: rgba(82, 196, 26, 1);
    border: 1px solid #52C41A;
}

.btn-edit:hover {
    color: rgba(82, 196, 26, 0.7) !important;
    border-color: rgba(82, 196, 26, 0.7) !important;
}